<div class="container">

    
    <div class="row">
        <div class="col">
            <div class="breadcrumbs"><a href="/#albums">&#171; Back to Gallery</a> </div>
        </div>
        <div class="col text-right">
            <div id="album-category" class="album-category"></div>
        </div>

    </div>



    <div id="images-container" class="row row-cols-3">
        
    </div>

    <div class="text-center">
        <img src="http://localhost:9000/assets/images/preloader.gif" id="preloader" alt="Loading..." />
    </div>    

    <div id="nomoredata" class="text-center" style="display:none">No more photos to load</div>


</div>